@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../assets/fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../assets/fonts/Red-Hat-Display/RedHatDisplayRegular.woff2") format("woff2"), url("../assets/fonts/Red-Hat-Display/RedHatDisplayRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../assets/fonts/Red-Hat-Display/RedHatDisplayMedium.woff2") format("woff2"), url("../assets/fonts/Red-Hat-Display/RedHatDisplayMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay";
  src: url("../assets/fonts/Red-Hat-Display/RedHatDisplaySemiBold.woff2") format("woff2"), url("../assets/fonts/Red-Hat-Display/RedHatDisplaySemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato";
  min-height: 100vh;
}

ul,
ol {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}
.container__foo {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "RedHatDisplay";
  color: #000;
  line-height: 166%;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.05em;
}
.title_1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 167%;
}
.title_2 {
  line-height: 133%;
  font-size: 48px;
}
.title_3 {
  line-height: 133%;
  font-size: 28px;
}
.title_4 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.1em;
}
.title_5 {
  font-family: "Lato";
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}

.time {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.section {
  margin: 0;
}
.section_1 {
  background-image: url(../assets/img/mob/hero_mob.jpg);
}
@media screen and (min-width: 768px) {
  .section_1 {
    background-image: url(../assets/img/tab/hero_tab.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section_1 {
    background-image: url(../assets/img/desk/hero_desk.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.btn {
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #fff;
  min-width: 180px;
  height: 46px;
  background: #565656;
  border: none;
}

.menu__link,
button {
  /* The second value here is a fallback. */
  cursor: url(../assets/img/svg/cursor.svg), auto;
  width: 29px;
  height: 27px;
  /* You may need coordinates to adjust the pointer
     for example, the custom cursor is circular and you want
     the middle to be where you click */
}

.footer {
  background: #f4f4f4;
  padding: 50px 0px;
}

.icon__social {
  background: #f4f4f4;
  padding: 50px 0px;
  border: 1px solid #565656;
  width: 24px;
  height: 24px;
}

.menu {
  display: flex;
  gap: 23px;
}
.menu__item {
  background: #f4f4f4;
}
.menu__item:focus {
  fill: #565656;
  border: 1px solid #565656;
}
@media screen and (min-width: 768px) {
  .menu__item:hover {
    background-color: #565656;
    border: 1px solid #565656;
  }
}/*# sourceMappingURL=main.css.map */