@import url("./vars.css");

/* position Value

1. position: absolute - абсолютне позиціювання, вибиває з потоку;
2. position: relative - відносне позиціювання, не вибиває з потоку;
3. position: fixed - фіксується відносно вікна залізобетоноб вибивається з потоку;
4. position: sticky - поєднання relative і fixed, не вибиває з потоку;
5. position: static (по замовчуванню);

top, right, bottom, left - напрямки (координати)
z-index
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  min-height: 200vh;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header {
  display: flex;
  padding: 20px 0;
  background-color: #f2eef2;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;

  min-width: 1200px;
}

.nav__cont {
  display: flex;
  align-items: center;
  gap: 50px;
}

.lang__item {
  font-family: var(--font4);
  font-weight: 600;
  font-size: 22px;
  line-height: 82%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #1a1a1a;
}

.menu {
  display: flex;
}

.menu__item .menu__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #000;
}

.sidebar {
  min-height: 600px;
  min-width: 385px;
}

.aside-menu {
  position: sticky;
  top: 80px;
}

.main {
  padding-top: 150px;
}

.content {
  flex-grow: 1;
}

.section {
  margin-bottom: 50px;

  min-width: 785px;
}

.title_2 {
  font-family: var(--second-family);
  position: relative;
  display: inline-block;

  padding-top: 20px;
}

.title_2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100px;
  height: 8px;
  background: #000;
}

.text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 171%;
  color: #000;

  margin-top: 40px;
}

.under {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.mini_font {
  font-style: italic;
}

.mini_font2 {
  font-weight: bold;
}

.mini_font3 {
  background-color: #e6e6e6;
}

.sup-title {
  font-family: var(--font3);

  position: absolute;
  top: 2px;
  right: -80px;
  font-size: 14px;
  font-weight: 200;
}

.gear_cont {
  position: relative;
}

.gear {
  position: fixed;
  left: 1012px;

  z-index: -1;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.aside-menu__item {
  border-bottom: 1px solid #bdbdbd;
  padding: 0px 0px 10px;
  width: 385px;
  height: 58px;
}

.aside-menu__link {
  font-family: var(--second-family);

  font-weight: 400;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000;
}
