:root {
  --text: #2f281e;
  --orange: #f90;
  --font-family: "Montserrat", sans-serif;
  --second-family: "FontAwesome", sans-serif;
  --third-family: "Gotham", sans-serif;
  --font3: "Poppins", sans-serif;
}
