$font-primary: "Lato";
$font-secondary: "RedHatDisplay";

$main-font-size: 16px;
$second-font-size: 22px;
$third-font-size: 28px;

$main-text-color: #000;
$second-text-color: #565656;
$main-line-height: 166%;
$main-font-weight: 400;
