@use "./normalize";
@use "./extends";
@use "./vars" as v;
@use "./mixins" as m;
@use "./fonts";
@use "./base";

.header,
.section,
.banner,
.blog,
.footer {
  padding: 0 calc(50vw - (v.$adaptive_width_container));

  @media screen and (max-width: 1200px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container) - 12%));
  }

  @media screen and (max-width: 992px) {
    padding: 0 calc(50vw - calc((v.$adaptive_width_container) - 27%));
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
}
.header {
  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and (min-width: 1170px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}

.title {
  font-family: v.$font-secondary;
  font-weight: v.$second-font-weight;
  font-size: v.$second-font-size;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: v.$second-text-color;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: v.$third-font-size;
    margin-bottom: 50px;
  }

  &_1 {
    font-size: 29px;
    letter-spacing: 0.05em;

    @media screen and (min-width: 768px) {
      font-size: 33px;
      line-height: 1.51515;
    }
    @media screen and (min-width: 1170px) {
      margin-bottom: 70px;
      font-size: 48px;
      line-height: 1.33333;
    }
  }
}

.section {
  margin-bottom: 70px;

  @media screen and (min-width: 1170px) {
    margin-bottom: 90px;
  }
}

.text {
  font-family: v.$font-primary;
  font-weight: v.$main-font-weight;
  font-size: v.$main-font-size;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #565656;

  @media screen and (min-width: 768px) {
    font-size: 19px;
    line-height: 1.68421;
  }

  @media screen and (min-width: 768px) and (max-width: 1170px) {
    letter-spacing: 0.1em;
  }
}
// =============footer=============

.footer {
  background: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 1440px) {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

.menuf {
  display: flex;
  gap: 23px;

  &__link {
    @extend %flex-center;
    width: 50px;
    height: 50px;
    border: 1px solid v.$second-text-color;
    background-color: #f4f4f4;

    &:hover,
    &:focus {
      background-color: v.$second-text-color;
      .icon__social {
        fill: #fff;
      }
    }
  }
}
.link_cont {
  color: v.$main-text-color;
}
.icon__social {
  width: 24px;
  height: 24px;
  fill: v.$second-text-color;
}

.foo_cont {
  @extend %flex-center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.small {
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.menu_contact {
  margin-top: 20px;
  @extend %flex-center;
  flex-direction: column;
  gap: 15px;
}
